@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pt_sans_regular";
    src: url("../fonts/pt_sans_regular.eot");
    src: url("../fonts/pt_sans_regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pt_sans_regular.woff") format("woff"),
    url("../fonts/pt_sans_regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.eot");
    src: url("../fonts/RobotoCondensed-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.eot");
    src: url("../fonts/OpenSans-ExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "open-sans-semibold";
    src: url("../fonts/open-sans-semibold.eot");
    src: url("../fonts/open-sans-semibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/open-sans-semibold.woff") format("woff"),
    url("../fonts/open-sans-semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

