// *{padding: 0; margin: 0; outline: none}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	// text-decoration: none; 
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}
// button{
// 	-webkit-transition: .35s;
// 	-moz-transition: .35s;
// 	-ms-transition: .35s;
// 	-o-transition: .35s;
// 	transition: .35s;
// }
html, body{
	font: 13px 'OpenSansRegular', sans-serif;
	overflow-x: hidden;
	background: #f3f3f3;
}
// .container{
// 	width: 100%;
// 	max-width:  1170px;
// 	margin: 0 auto;
// 	position: relative;
// 	&:after{
// 			content: "";
// 			clear: both;
// 			display: block;
// 		}
// }

// ====HEADER====
.header {
	.header-top{
		background: #ebebeb;
		padding: 15px 0;
		overflow: hidden;
		.login{
			position: relative;
			color: #838383;
			padding-left: 15px;
			float: left;
			font-family: "pt_sans_regular";
			&:after{
				  content: "";
				  position: absolute;
				  background: url(../img/arr-down.png) no-repeat;
				  width: 8px;
				  height: 4px;
				  left: 103%;
    			  top: 8px;
	
			}
			&:before{
				content: "";
				position: absolute;
				background: url(../img/log_in-icon.png) no-repeat;
				width: 9px;
				height: 13px;
				left: 0px;
   				top: 2px;
			}
			&__link{
				color: #0077a2;

			}
		}
		.nav{
			&__list{
				display: flex;
				padding-left: 10px;
				font-family: "pt_sans_regular";
			}
			&__item{
				padding-left: 20px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/sep.png) no-repeat;
					width: 1px;
					height: 12px;
					left: 10px;
    				top: 3px;
				}
			}
			&__link{
				display: block;
				color: #838383;
			}
		}
		.lang-currency{
			float: right;
			&__item{
				display: inline-block;
				position: relative;
				cursor: pointer;
				&:hover .hover-lang{
					left: 30px;
					z-index: 10;
					top: 20px;
				}
				.hover-lang{
					position: absolute;
					left:-9999px;
					
				}
			}

			&__link{
				color: #838383;
				text-transform: uppercase;
				display: block;
				margin: 0 15px 0 35px;
			}
			&__link--icon-sep{
				position: relative;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/sep.png) no-repeat;
					width: 1px;
					height: 12px;
					left: -18px;
					top: 3px;
				}
			}
			&__link--icon-arr{
				position: relative;
				&:after{
					content: "";
					position: absolute;
					background: url(../img/arr-down2.png) no-repeat;
					width: 8px;
					height: 4px;
					left: 36px;
					top: 8px;
				}
			}
		}
	}
	.header-mid{
		padding: 43px 0;
		.holder-header-mid{
			display: flex;
			align-items: center;
		}
		.phone-contacts{
			color: #838383;
			font-size: 18px;
			top: 6px;
			margin-left: 20px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				background: url(../img/phone.png) no-repeat;
				width: 20px;
				height: 20px;
				left: -25px;
    			top: 4px;
			}
			&:after{
				content: "";
				position: absolute;
				background: url(../img/arr-down.png) no-repeat;
				width: 8px;
				height: 4px;
				left: 100%;
    			top: 10px;
			}
		}
		.request-call{
			display: block;
			background: #0077a2;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			padding: 10px 0;
			text-align: center;
			text-decoration: none;
			font-family: "OpenSansBold";
			&:hover{
				background: #0092c7;
			}
		}
		.holder-compare-liked{
			display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    .compare-liked-list{
				display: flex;
				font-family: "pt_sans_regular";
				&__item{
					margin-left: 40px;
					&:first-child{
						margin: 0;
					}
				}
				&__item--compare-icon{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/compare-icon.png) no-repeat;
						width: 14px;
						height: 12px;
						left: -20px;
    					top: 2px;
					}
					&:after{
						content: "";
						position: absolute;
						background: url(../img/sep.png) no-repeat;
						width: 1px;
						height: 12px;
						right: -11px;
						top: 2px;
    					right: -11px;
					}
				}
				&__item--liked-icon{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/liked-icon.png) no-repeat;
						width: 12px;
						height: 11px;
						left: -18px;
    					top: 2px;
					}
				}
				&__link{
					color: #838383;
					text-decoration: none;
					&:hover{
						color: #0077a2;
					}
				}
		    }
		    .cart{
		    	margin-left: 50px;
		    	position: relative;
		    	&__ellipse{
		    		position: absolute;
		    		top: -5px;
		    		left: -13px;
		    		background: #0077a2;
		    		border-radius: 50%;
		    		border-radius: 50%;
   					padding: 0px 5px;
   					color: #fff;
		    	}
		    }
		}
	}
	.header-bot{
		border: 1px solid #e1e2e4;
		border-width: 1px 0;
		padding: 25px 0;
		
		.watch-list{
			display: flex;
    		justify-content: space-between;
    		&__item{
				position: relative;
				&:after{
					content: "";
					position: absolute;
					background: url(../img/arr-down.png) no-repeat;
					width: 8px;
					height: 4px;
					right: -15px;
    				top: 8px;
				}
    		}
    		&__link{
    			text-decoration: none;
    			color: #aeaeae;
    			font-family: "RobotoCondensed-Regular";
    			text-transform: uppercase;

    			&:hover{
    				color: #000000;
    				border-top: 1px solid #0077a2;
    				padding-top: 27px;
    			}
    		}
		}
		.search{
			display: flex;
    		justify-content: flex-end;
		}
	}
	.popup-search{
		display: none;
		&__input{
			position: absolute;
			z-index: 1;
			border: 1px solid #0077a2;
			background: #f3f3f3;
			margin-top: -1px;
			border-width: 1px 0;
			outline: none;
			color: #525252;
			font-size: 14px;
			padding: 25px 0; 
			width: 100%;
			text-indent: 20px;
			font-family: "pt_sans_regular";	
			&::-webkit-input-placeholder {
				color: #525252;
			}
		}
		&__search-inner{
			position: absolute;
			left: 95%;
    		top: 25px;
    		z-index: 1;
		}

	}
	.db{
		display: block;
	}
}
// ====HEADER EN====
// ====MAIN-1====

.main-1{
	margin: 30px 0 0;
	.woman-img{
		position: relative;
		&__link{
			position: absolute;
			top: 134px;
			//display: block;
			background: rgba(185, 175, 172, .6);
			color: #fff;
			text-transform: uppercase;
			font-family: "OpenSansBold";
			width: 100%;
			text-decoration: none;
			padding: 25px 0 25px 25px;
		}
		&:after{
			content:"";
			position: absolute;
			background: url(../img/arr-right2.png) no-repeat;
			width: 7px;
			height: 12px;
		}
	}
	.man-img{
		position: relative;
		&__link{
			position: absolute;
			top: 0;
			//display: block;
			background: rgba(185, 175, 172, .6);
			color: #fff;
			text-transform: uppercase;
			font-family: "OpenSansBold";
			width: 100%;
			text-decoration: none;
			padding: 25px 0 25px 25px;
		}
	}
	.holder-bg{
		position: relative;
		&__link{
			position: absolute;
			top: 42%;
    		left: 95%;
		}
	}
}
// ====MAIN-1 END====
// ====MAIN-2 ====
.main-2{
	.main-2-left{
		position: relative;
		top: -88px;
		&__link{
			position: absolute;
			top: 55%;
    		left: 9%;
			display: block;
			color: #fff;
			background: #0077a2;
			text-transform: uppercase;
			font-size: 17px;
			padding: 10px;
			text-decoration: none;
			font-family: "OpenSansBold";
		}
	}
	.main-2-bg-center{
		position: relative;
		z-index: 1;
		 top: -103px;
   		 left: -41%;
	}
	.main-2-bg-right{
		position: relative;
		top: 10px;
		&__link{
			position: absolute;
			top: 36%;
    		left: 42%;
			display: block;
			color: #fff;
			background: #0077a2;
			text-transform: uppercase;
			font-size: 17px;
			padding: 10px;
			text-decoration: none;
			font-family: "OpenSansBold";
		}
	}
}
// ====MAIN-2 END====
// ====MAIN-3====
.main-3{
	&__inner{
		background: #fff;
		padding: 40px 20px 30px;
	}
	.main-3-left{
		&__title{
			font-size: 20px;
			font-family: "OpenSans-ExtraBold";
			text-transform: uppercase;
			margin: 0;
		}
		&__text{
			color: #929292;
		}
	}	
	.main-3-holder{
		margin: 40px 0 0;
		&__img{
			position: relative;
		}
		.count-left{
			position: absolute;
			z-index: 1;
			top: 80px;
			&__value{
				color: #777676;
				text-align: center;
				border: 1px solid #e8e8e8;
				padding: 5px 8px;
				background: #fff;
				font-family: "OpenSansBold";
				font-size: 14px;
				p{
					font-family: "OpenSansRegular";
					font-size: 12px;
				}
			}
		}
	}
	.slider{
		margin: 80px 0 0;
		display: flex;
		&__item{
			border: 1px solid #e8e8e8;
			padding: 40px 20px 30px;
			width: 100%;
			max-width: 216px;
			height: 305px;
			border-right-width: 0;
			position: relative;
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			&:last-child{
				border-right-width: 1px;
			}	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			margin: 20px 0;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
	}
	&__btn-bot{
		padding: 15px 0;
		width: 170px;
		background: #0077a2;
		text-transform: uppercase;
		color: #fff;
		display: block;
		margin: 30px auto 0;
		text-align: center;
		text-decoration: none !important;
	}
}
// ====MAIN-3 END====
// ====MAIN-4====


// ====MAIN-4 END====