// *{padding: 0; margin: 0; outline: none}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


 img{
 	max-width: 100%;
 	height: auto;
 }
a{
	text-decoration: none !important;
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}
// button{
// 	-webkit-transition: .35s;
// 	-moz-transition: .35s;
// 	-ms-transition: .35s;
// 	-o-transition: .35s;
// 	transition: .35s;
// }
html, body{
	font: 13px 'OpenSansRegular', sans-serif;
	overflow-x: hidden;
	background: #f3f3f3;
}
// .container{
// 	width: 100%;
// 	max-width:  1170px;
// 	margin: 0 auto;
// 	position: relative;
// 	&:after{
// 			content: "";
// 			clear: both;
// 			display: block;
// 		}
// }

// ====HEADER====
.header {
	.header-top{
		background: #ebebeb;
		padding: 15px 0;
		// overflow: hidden;
		.login{
			position: relative;
			color: #838383;
			padding-left: 15px;
			float: left;
			font-family: "pt_sans_regular";
			&:after{
				  content: "";
				  position: absolute;
				  background: url(../img/arr-down.png) no-repeat;
				  width: 8px;
				  height: 4px;
				  left: 103%;
    			  top: 8px;
	
			}
			&:before{
				content: "";
				position: absolute;
				background: url(../img/log_in-icon.png) no-repeat;
				width: 9px;
				height: 13px;
				left: 0px;
   				top: 2px;
			}
			&__link{
				color: #0077a2;
				text-decoration: none;
			}
		}
		.nav{
			&__list{
				display: flex;
				padding-left: 10px;
				font-family: "pt_sans_regular";
			}
			&__item{
				padding-left: 20px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/sep.png) no-repeat;
					width: 1px;
					height: 12px;
					left: 10px;
    				top: 3px;
				}
			}
			&__link{
				display: block;
				color: #838383;
				text-decoration: none;
			}
		}
		.lang-currency{
			float: right;
			&__item{
				display: inline-block;
				position: relative;
				cursor: pointer;
				.hover-lang{
					position: absolute;

					left: -9999px;
					&__item{
						padding-top: 32px;
					}
					&__link{	
						display: block;
						background: #0077a2;
						padding: 10px 23px 10px 10px;
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
					}
				}
				.hover-lang--left{
					
					position: absolute;
					left: -9999px;
				}
				&:hover .hover-lang--left{
					left:20px;
				}
				&:hover .hover-lang{
					left:35px;
					top: 0px;
				}
			}

			&__link{
				color: #838383;
				text-transform: uppercase;
				display: block;
				margin: 0 15px 0 35px;
				text-decoration: none;
			}
			&__link--icon-sep{
				position: relative;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/sep.png) no-repeat;
					width: 1px;
					height: 12px;
					left: -18px;
					top: 3px;
				}
			}
			&__link--icon-arr{
				position: relative;
				&:after{
					content: "";
					position: absolute;
					background: url(../img/arr-down2.png) no-repeat;
					width: 8px;
					height: 4px;
					left: 36px;
					top: 8px;
				}
			}
		}
	}
	.header-mid{
		padding: 43px 0;
		.holder-header-mid{
			display: flex;
			align-items: center;
		}
		.phone-contacts{
			color: #838383;
			font-size: 18px;
			top: 2px;
    		margin-left: 27px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				background: url(../img/phone.png) no-repeat;
				width: 20px;
				height: 20px;
				left: -25px;
    			top: 4px;
			}
			&:after{
				content: "";
				position: absolute;
				background: url(../img/arr-down.png) no-repeat;
				width: 8px;
				height: 4px;
				left: 100%;
    			top: 10px;
			}
		}
		.request-call{
			display: block;
			background: #0077a2;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			padding: 10px 0;
			text-align: center;
			text-decoration: none;
			font-family: "OpenSansBold";
			width: 200px;
			margin: -5px 0 0 12px;
			&:hover{
				background: #0092c7;
			}
		}
		.holder-compare-liked{
			display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    .compare-liked-list{
				display: flex;
				font-family: "pt_sans_regular";
				&__item{
					margin-left: 40px;
					&:first-child{
						margin: 0;
					}
				}
				&__link--compare-icon{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/compare-icon.png) no-repeat;
						width: 14px;
						height: 12px;
						left: -20px;
    					top: 2px;

					}
					&:hover:before{
    					background: url(../img/compare-icon-hover.png) no-repeat;
						width: 14px;
						height: 12px;
    					
					}
					&:after{
						content: "";
						position: absolute;
						background: url(../img/sep.png) no-repeat;
						width: 1px;
						height: 12px;
						right: -11px;
						top: 2px;
    					right: -11px;
					}
				}
				&__link--liked-icon{
					
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/liked-icon.png) no-repeat;
						width: 12px;
						height: 11px;
						left: -18px;
    					top: 2px;

					}
					&:hover:before{
    					background: url(../img/liked-icon-hover.png) no-repeat;
						width: 12px;
						height: 11px;
    					}
					}
				&__link{
					display: block;
					color: #838383;
					text-decoration: none;
					&:hover{
						color: #0077a2;
					}
				}
		    }
		    .cart{
		    	margin-left: 50px;
		    	position: relative;
		    	&__ellipse{
		    		position: absolute;
		    		top: -5px;
		    		left: -13px;
		    		background: #0077a2;
		    		border-radius: 50%;
		    		border-radius: 50%;
   					padding: 0px 5px;
   					color: #fff;
		    	}
		    }
		    .quickcart{
		    	display: none;
		    	width: 220px;
		    	height: 90px;
		    	background: #fff;
		    	padding: 10px 20px 10px;
		    	position: absolute;
    			top: 30px;
    			z-index: 1;
		    	&__title{
		    		color: #666;
		    		text-transform: uppercase;
		    	}
		    	&__price{
		    		font-size: 18px;
		    		font-family: "OpenSansBold";
		    		color: #0077a2;
		    	}
		    	&__line{
		    		width: 180px;
		    		height: 1px;
		    		background: #acacac;
		    		margin: 5px auto 10px;
		    		
		    	}
		    	&__price{
		    		margin-left: 81px;
		    	}
		    	&__cart{
		    		text-decoration: none;
		    		text-transform: uppercase;
		    		font-size: 11px;
		    		color: #6b6b6b;
		    		border: 1px solid #e1e1e1;
		    		padding: 5px 12px;
		    		float: left;
		    	}
		    	&__clear{
		    		float: right;
		    		text-decoration: none;
		    		text-transform: uppercase;
		    		font-size: 11px;
		    		color: #6b6b6b;
		    		border: 1px solid #e1e1e1;
		    		padding: 5px 12px;
		    	}
		    }
		    .db{
		    	display: block;
		    }
		}
	}
	.header-bot{
		border: 1px solid #e1e2e4;
		border-width: 1px 0;
		// padding: 25px 0;
		
		.watch-list{
			display: flex;
    		justify-content: space-between;
    		&__item{
				position: relative;
				padding: 26px 0;
				border-top: 1px solid transparent;
				&:after{
					content: "";
					position: absolute;
					background: url(../img/arr-down.png) no-repeat;
					width: 8px;
					height: 4px;
					right: -15px;
    				top: 33px;
				}
				&:hover .mega-menu{
					left: 0;
					cursor: pointer;
				}
				&:hover{
    				border-color: #0077a2;
    				color: #000;
    			}
    		}
    		.mega-menu{
    			position: absolute;
    			left: -9999px;
    			z-index: 10;
				.country-link{
					color: #525252;
					font-family: "pt_sans_regular";
					font-size: 14px;
					display: block;
					position: relative;
					margin-top: 15px;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/menu-arr.png) no-repeat;
						width: 5px;
						height: 8px;
						top: 6px;
    					left: -14px;
					}
					&:hover{
						color: #0077a2;
					}
				}
    			&__holder{
    				border-top: 1px solid #0077a2;
    				margin-top: 44px;
    				background: #f3f3f3;
				    display: flex;
				    justify-content: space-between;
				    padding: 0 30px 30px;
				    width: 1200px;
				    max-width: 100%;
					ul{
						padding-top: 15px;
						list-style-type: square;
						li{
							color: #8d8d8d;
							padding: 5px 0;
							border: 1px solid transparent;
							border-width: 1px 0;
							&:hover{
								border-color: #0077a2;	
								color: #0077a2;
							}
							a{
								display: block;
								text-transform: uppercase;
								color: #525252;
								font-family: "pt_sans_regular";
								&:hover{
									color: #0077a2;
								}
								
							}
								
						}
					}
    			}
    			&__title{
    				margin-top:30px;
    				color: #525252;
    				font-family: "RobotoCondensed-Regular";
    				text-transform: uppercase;
    			}

    			
    			
    		}
    		&__link{
    			text-decoration: none;
    			color: #aeaeae;
    			font-family: "RobotoCondensed-Regular";
    			text-transform: uppercase;
				&:hover{
					color: #000 ;
				}	
    		
    		}
		}
		.search{
			display: flex;
    		justify-content: flex-end;
    		    margin-top: 25px;
		}
	}
	.popup-search{
		display: none;
		&__input{
			position: absolute;
			z-index: 1;
			border: 1px solid #0077a2;
			background: #f3f3f3;
			margin-top: -1px;
			border-width: 1px 0;
			outline: none;
			color: #525252;
			font-size: 14px;
			padding: 25px 0; 
			width: 100%;
			text-indent: 20px;
			font-family: "pt_sans_regular";	
			&::-webkit-input-placeholder {
				color: #525252;
			}
		}
		&__search-inner{
			position: absolute;
			left: 95%;
    		top: 25px;
    		z-index: 1;
		}

	}
	.db{
		display: block;
	}
	.dn{
		display: none;
	}
}
// ====HEADER EN====
// ====MAIN-1====

.main-1{
	margin: 30px 0 0;
	.woman-img{
		position: relative;
		overflow: hidden;
		top: -16px;
		a{
			img{
				transition:  0.4s ease;
				height: 220px;
			  &:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }
			}
		}
		&__link{
			position: absolute;
			 top: 72%;
			display: block;
			background: rgba(245, 245, 245, .3);
			color: #fff;
			text-transform: uppercase;
			font-family: "OpenSansBold";
			width: 100%;
			text-decoration: none;
			padding: 20px 0 20px 25px;
			font-size: 16px;
		}
		&:after{
			content:"";
			position: absolute;
			background: url(../img/next-arr.png) no-repeat;
			width: 7px;
			height: 11px;
    		left: 90%;
    		top: 83%;

		}
	}
	.man-img{
		position: relative;
		overflow: hidden;
		top: -16px;
		a{
			img{
				transition:  0.4s ease;
			  &:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }
			}
		}
		&__link{
			position: absolute;
			top: 0;
			font-size: 16px;
			display: block;
			background: rgba(245, 245, 245, .3);
			color: #fff;
			text-transform: uppercase;
			font-family: "OpenSansBold";
			width: 100%;
			text-decoration: none;
			padding: 20px 0 20px 25px;
		}
		&:after{
			content:"";
			position: absolute;
			background: url(../img/next-arr.png) no-repeat;
			width: 7px;
			height: 11px;
    		left: 90%;
    		top: 11%;

		}
	}
	.holder-bg{
		position: relative;
		overflow: hidden;
		 top: -16px;
		a{
			img{
				transition:  0.4s ease;
				position: relative;
				height: 100%;
				&:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }

			}

		}
		&__title{
				font-size: 46px;
			    position: absolute;
			    color: #fff;
			    font-family: "OpenSansBold";
			    top: 125px;
			    left: 84px;
			    margin: 0;
			}
		&__link{
			position: absolute;
			top: 42%;
    		left: 95%;
		}
		&__list{
			position: absolute;
			top: 200px;
			left: 115px;
			li{
				position: relative;
				color: #fff;
				font-size: 14px;
				font-family: "open-sans-semibold";
				&:before{
					content: "";
					position: absolute;
					background: url(../img/check.png) no-repeat;
					width: 13px;
					height: 10px;
					left: -24px;
					top: 5px;
				}
			}
		}
		&__rolex-img{
			position: absolute;
			top: 200px;
			left: 325px;
			z-index: 1;
		}
	}
}
// ====MAIN-1 END====
// ====MAIN-2 ====
.main-2{
	.main-2-left{
		position: relative;
		top: -114px;
		overflow: hidden;
		.main-2-bg-center-link-left{
			display: block;
		    overflow: hidden;
		    width: 419px;
		    height: 419px;
		    // margin: auto;
		    position: relative;
		    z-index: 11;
		}
		&__title{
			font-size: 22px;
			color: #101010;
			font-family: "OpenSansBold";
			position: absolute;
			top: 55px;
			left: 45px;
		}
		&__text{
			position: absolute;
			color: #919191;
			top: 117px;
			left: 75px;
		}
		&__price{
			position: absolute;
			top: 145px;
			left: 42px;
			color: #0077a2;
			font-size: 52px;
			font-family: "OpenSansBold";
		}
		&:before{
			content: "";
			position: absolute;
			width: 500px;
			height: 50px;
   			transform: rotate(5deg);
    		top: 35px;
		}
		&:after{
			content: "";
			position: absolute;
			width: 500px;
			height: 100px;
		}
		a{
			img{
				transition:  0.4s ease;
			  &:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }
			}
		}
		&__link{
			position: absolute;
			top: 220px;
    		left: 42px;
			display: block;
			color: #fff;
			background: #0077a2;
			text-transform: uppercase;
			font-size: 17px;
			padding: 10px;
			text-decoration: none;
			font-family: "OpenSansBold";
			&:hover{
				 background: #0092c7; 
			}
		}
	}
	.main-2-bg-center-link{
		display: block;
	    overflow: hidden;
	    width: 419px;
	    height: 419px;
	    margin: auto;
	    border-radius: 50%;
	    border: 10px solid #fff;
	    position: relative;
	    z-index: 11;
	    top: -128px;
    	left: -80px;
	}
	.main-2-bg-center{
		position: relative;
		z-index: 1;
		// max-width: 419px;
		// top: -125px;
  		// left: -46%;
		// transition:  0.4s ease;
		// border: 10px solid #fff;
		// border-radius: 50%;
		&:hover{
			transition:  5.4s ease;
			transform: scale(1.3);
		}
		&__title{
			position: absolute;
			top: 100px;
    		left: 48px;
			color: #000;
			text-transform: uppercase;
			z-index: 10;
			width: 300px;
    		text-align: center;
    		font-family: "OpenSansBold";
		}
		&__text{
			color: #434343;
			position: absolute;
			top: 154px;
    		left: 50px;
			z-index: 1;
			text-align: center;
			width: 300px;
		}
	}
	.holder-main2-right{
		overflow: hidden;
		position: relative;
    	top: -35px;
		.main-2-bg-right{
		position: relative;
		top: 10px;
				transition:  0.4s ease;
			  &:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }
			&__link{
				position: absolute;
				top: 97px;
	    		left: 193px;
				display: block;
				color: #fff;
				background: #0077a2;
				text-transform: uppercase;
				font-size: 17px;
				padding: 10px;
				text-decoration: none;
				font-family: "OpenSansBold";
				&:hover{
					 background: #0092c7; 
				}
			}
		}
		&__title{
			position: absolute;
			top: 39px;
			left:193px;
			font-size: 22px;
			color: #101010;
			font-family: "OpenSansBold";
		}
		&__text{
			color: #919191;
			position: absolute;
			top: 74px;
			left: 193px;
		}
	}
	
}
// ====MAIN-2 END====
// ====MAIN-3====
.main-3{
	margin-top: -92px;
	&__inner{
		background: #fff;
		padding: 40px 20px 30px;
	}
	.main-3-left{
		&__title{
			font-size: 20px;
			font-family: "OpenSans-ExtraBold";
			text-transform: uppercase;
			margin: 0;
		}
		&__text{
			color: #929292;
		}
	}	
	.main-3-holder{
		margin: 40px 0 0;
		overflow: hidden;
		&__img{
			position: relative;
			transition:  0.4s ease;
			  &:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  }
		}
		&__text{
			position: absolute;
			color: #777676;
			font-size: 18px;
			font-family: "OpenSansBold";
			top: 165px;
			left: 110px;
		}
		&__text--size{
			position: absolute;
			font-size: 16px;
			text-transform: uppercase;
			top: 193px;
			left: 110px;
		}
		&__price{
			position: absolute;
			color: #b22029;
			font-size: 28px;
			font-family: "OpenSansBold";
			top: 222px;
			left: 110px;
		}
		.count-left{
			position: absolute;
			z-index: 1;
			top: 80px;
			
			&__holder{
				color: #777676;
				text-align: center;
				border: 1px solid #e8e8e8;
				padding: 5px 8px;
				background: #fff;
				font-family: "OpenSansBold";
				font-size: 14px;
				p{
					font-family: "OpenSansRegular";
					font-size: 12px;
					margin: 0;
				}
			}

		}
		
	}
	.slider{
		margin: 80px 0 0;
		display: flex;
		// .slick-slide img{
		// 	margin: 0 auto;
		// }
		.slick-slide {
			min-height: 0;
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: -23%;
			border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 92.5%;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: -12px;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: -23%;
			background-position: 10px 8px;
			border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		&__item-hover{
			display: none;
			padding: 40px 20px 30px;
			width: 100%;
			max-width: 209px;
			margin: 0 auto;
			height: 305px;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			.count-clock{
				position: absolute;
				top: 0;
				left: 57%;
    			display: flex;
    			color: #6e6d6d;
    			padding-top: 5px;
    			&:before{
    				content: "";
    				position: absolute;
					background: url(../img/clock-icon.png) no-repeat;
					width: 12px;
					height: 12px;
					top: 8px;
					left: -10px;
    			}
    			&__item{
    				font-family: "OpenSansBold";
    				color: #6e6d6d;
    				font-size: 14px;
    				padding: 0 5px;
    			}
			}
				.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{

					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
		}
		
		&__item{
			padding: 40px 20px 30px;
			width: 100%;
			max-width: 209px;
			margin: 0 auto;
			height: 305px;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			.count-clock{
				position: absolute;
				top: 0;
				left: 57%;
    			display: flex;
    			color: #6e6d6d;
    			padding-top: 5px;
    			&:before{
    				content: "";
    				position: absolute;
					background: url(../img/clock-icon.png) no-repeat;
					width: 12px;
					height: 12px;
					top: 8px;
					left: -10px;
    			}
    			&__item{
    				font-family: "OpenSansBold";
    				color: #6e6d6d;
    				font-size: 14px;
    				padding: 0 5px;
    			}
			}
			&:hover .slider__item-hover{
				display: block;	
			}
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			&:last-child{
				border-right-width: 1px;
			}	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			margin: 20px 0;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
	}
	&__btn-bot{
		padding: 13px 0;
		width: 170px;
		background: #0077a2;
		text-transform: uppercase;
		color: #fff;
		display: block;
		margin: 39px auto 0;
		text-align: center;
		text-decoration: none !important;
		&:hover{ background: #0092c7; color: #fff;}
	}
}
// ====MAIN-3 END====
// ====MAIN-4====
.main-4{
	margin-top: 30px ;
	&__inner{
		background: #fff;
		padding: 40px 0 30px;
	}

	&__title{
		font-size: 20px;
		font-family: "OpenSans-ExtraBold";
		text-transform: uppercase;
		margin: 0 0 0 10px;
	}
	&__text{
		color: #929292;
		margin: 0 0 0 10px;
	}
	.main-4-slider{
		margin-top: 15px;
		.slick-slide img{
			margin: 0 auto;
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: -48%;
			border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 94%;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: 10px;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: -48%;
			background-position: 10px 8px;
			border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		&__item{
			border: 1px solid #e1e1e1;
			padding: 15px;
			img{
				height: 45px;
			}
		}
	}
}

// ====MAIN-4 END====
// ====MAIN-5====
.main-5 {
	margin-top: 30px;
	&__inner{
		background: #fff;
	}
	.main-5-left-category{
		width: 200px;
		&__top{
			background: #252525;
			padding: 30px 0; 
			p{	
				font-size: 20px;
				font-family: "OpenSansBold";
				color: #feffff;
				text-align: center;
				text-transform: uppercase;
			}
		}
		&__body{
			background: #0077a2;
			padding: 18px 0;
			p{
				text-align: center;	
				a{
					color: #feffff;
					font-size: 12px;
					text-decoration: none;
					display: block;
					text-transform: uppercase;
					padding: 5px;
					&:hover{
						background: #186a8a;
						padding: 5px 0;
					}

				}
			}
		}
	}
	.main-5-nav-cat{
		margin-top: 44px;
    	margin-left: 24px;
		&__item{
			display: inline-block;
			margin-right: 35px;
		}
		&__link{
			text-transform: uppercase;
			color: #3a3a3a;
			font-size: 14px;
			font-family: "OpenSansBold";
			text-decoration: none;
			&:hover{
				color: #0077a2;
			}
		}
		&__link--border{
			border: 1px solid #e1e1e1;
			padding: 10px 20px;
		}
	}
	.main-5-slider{
		margin: 50px 0 0 45px;
		display: flex;
		// .slick-slide img{
		// 	margin: 0 auto;
		// }
		.slick-slide{
			min-height: 0;
			// width: 204px !important;
			outline: none;
			a{
				outline: none;
			}
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: -17%;
			border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 92.5%;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: 10px;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: -17%;
			background-position: 10px 8px;
			border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		&__item{
			margin-left: 10px;
			padding: 30px 0;
			width: 100%;
			max-width: 210px;
			//margin-right: -1px;
			 height: 349px;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			img{
				margin: 0 auto 0;
			}
			&:hover{
				border-color: #e8e8e8;
			}
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			// &:last-child{
			// 	border-right-width: 0px;
			// }	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
   			 height: 0;
   			 margin-top: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			margin: 20px 0;
		}
		&__rating {
		  direction: rtl;
		  text-align: center;
		  margin-top: 10px;
		}
		&__rating > span {
		    display: inline-block;
		    position: relative;
		    width: 1.1em;
		    // padding: 0 3px; 
		}

		&__rating > span:hover:before {
		    content: url(../img/star-rait-hover.png);
		    position: absolute; 
			left: 0px;
    		top: -2px;
		}
		&__rating > span:hover ~ span:before {
		    content: url(../img/star-rait-hover.png);
		    position: absolute; 
			left: 0px;
    		top: -2px;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			margin-top: 10px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
		&__img{
			width: 13px;
			height: 12px;
		}
	}
	
}

// ====MAIN-5 END====
// ====MAIN-6====
.main-6{
	margin-top: 30px;
	position: absolute;
	left: 90px;
	&__inner{
		background: #fff;
		padding-bottom: 35px;
	}
	&__title{
		color: #252525;
		font-family: "OpenSans-ExtraBold";
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;
		padding: 35px 0 40px;
	}
	.main-6-holder-articles{
		margin: -15px 0 0;
		display: flex;
		justify-content: space-between;
		&__item{
			border: 1px solid transparent;
			// border-width: 0 0 1px 1px;
			width: 293px;
			overflow: hidden;
			&:hover{
				border-color:#dedede;
			}
			img{
				transition:  0.4s ease;
			  	&:hover{
				  transition:  5.4s ease;
				  transform: scale(1.3);
			  	}
			}

			&:first-child{
				border-left-width: 0;
			}
		}
		&__item-content{
			margin: 10px 0 20px 10px;
			p{
				color: #9b9b9b;
			}
			span{
				color: #313131;
				font-family: "OpenSansBold";
			}
		}


	}
}


// ====MAIN-6 END====
// ====MAIN-7====
.main-7--mar{
	margin: 31% 0 0 !important;
}

.main-7{
	background: #ededed;
	padding: 80px 0 55px;
	margin: 38% 0 0;
	.main-7-item{
		&__title{
			color: #252525;
			font-size: 17px;
			font-family: "OpenSans-ExtraBold";
			text-transform: uppercase;
		}
		&__under-line{
			width: 30px;
			height: 1px;
			background: #252525;
			margin-bottom: 20px;
		}
		&__text{
			color: #9c9c9c;
		}
	}
	.main-7-form{
		&__input{
			background: #f3f3f3;
			outline: none;
			border: 1px solid #e1e1e1;
			height: 38px;
			text-indent: 10px;
			width: 235px;
			float: left;
			color: #9c9c9c;
			::-webkit-input-placeholder {
				color: #9c9c9c;
			}
		}
		&__btn{
			width: 120px;
			height: 37px;
			border: none;
			background: #0077a2;
			color: #fff;
			text-transform: uppercase;
			&:hover{ background: #0092c7; }
		}
	}
	.main-7-item-list{
		&__item{
			padding-bottom: 10px;
		}
		&__link{
			display: block;
			text-decoration: none;
			color: #7b7b7b;
			&:hover{
				color: #0077a2;
			}
		}
	}
	.main-7-item-list--float-l{
		float: left;
	}
	.main-7-item-list--float-r{
		float: right;
	}
	.main-7-social{
		clear: both;
		margin-top: 30px;
		&__item{
			display: inline-block;
		}
		&__link{
			display: block;
			background: url(../img/social.png) no-repeat;
			width: 35px;
			height: 35px;
		}
		&__twit{
			background-position: -43px 0;
			&:hover{

			}
		}
		&__tube{
			background-position: -86px 0;
		}
		&__google{
			background-position: -130px 0;
		}
		&__inst{
			background-position: -173px 0;
		}
	}
	

}

// ====MAIN-7 END====
// ====FOOTER====
.footer{
	background: #0077a2;
	padding: 20px 0;
	&__copy{
		color: #fff;
		text-align: center;
	}
}

// ====FOOTER END====

//====BREADCRUMBS====
.breadcrumbs{
	&__item{
		display: inline-block;
		margin-right: 20px;
		padding: 20px 0;
		&:last-child{
			margin: 0;
		}
	}
	&__link{
		color: #929292;
		font-size: 12px;
		font-family: "OpenSans-Italic";
		position: relative;
		text-decoration: none !important;
		&:after{
			content: "";
			position: absolute;
			background: url(../img/breadcrumbs-arr.png) no-repeat;
			width: 3px;
			height: 6px;
			top: 5px;
    		right: -15px;
		}
		// &:last-child:after{
		// 	background: none;
		// }
	}
}	

//====BREADCRUMBS END====
//====CONTENT-CARD====
.content-top{
	.content-top-bg{
		background: #fff;
		
	}
	&__title{
		font-size:20px;
		color: #444;
		text-transform: uppercase;
		padding: 40px 0;
		font-family: "OpenSans-ExtraBold";
	}
	.content-card{
		border-top: 1px solid #e1e1e1;

	}
	.content-slider{
		&__left{
			li{
				border: 1px solid  #e1e1e1;
				text-align: center;
				border-width: 0 1px 1px;
				width: 80px;
				cursor: pointer;
				img{
					max-width: none;
				}
				&:first-child{
					padding: 20px;
				}
			}
		}
		.content-slider-center{
			position: relative;
			&__img{
				padding: 20px 0 0;
			}
			&__prev{
				content: "";
				position: absolute;
				background: url(../img/prev.png) no-repeat;
				width: 20px;
				height: 38px;
				top: 45%;
    			left: -80px;
    			cursor: pointer;
			}
			&__next{
				content: "";
				position: absolute;
				background: url(../img/next.png) no-repeat;
				width: 20px;
				height: 38px;
				left: 80%;
    			top: 153px;
    			cursor: pointer;
			}
		}
		.purchase{
			margin-right: 30px;
			&__top{
				font-size: 12px;
				color: #7a7a7a;
				display: flex;
				justify-content: space-between;
				a{
					color: #0077a2;
					text-decoration: underline !important;
				}
			}
			&__instock{
				position: relative;
				font-size: 12px;
				color: #0077a2;
				padding: 10px 0 0 30px;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/purchase-check.png) no-repeat;
					width: 21px;
					height: 21px;
					left: 0;
					top: 7px;
				}
			}
			&__title-stock{
				font-size: 14px;
				color: #ec5b5b;
				font-family: "open-sans-semibold";
			}
			.purchase-btnbuy{
				
				&__left{
					position: relative;
					float: left;
					&:after{
						content: "";
						position: absolute;
						background: url(../img/arr-buy.png) no-repeat;
						width: 8px;
						height: 15px;
						left: 140px;
   						top: 23px;
					}
					&__top{
						font-size: 14px;
						color: #a3a3a3;
						text-decoration: line-through;
						margin: 0;
					}
					&__bot{
						font-size: 32px;
						color: #186a8a;
						// font-family: "OpenSansBold";
						span{
							color: #a4a4a4;
							font-size: 14px;
						}
					}
				}
				&__right{
					float: right;
					a{
						width: 170px;
						display: block;
    					text-align: center;
    					margin: 10px auto 0;
    					background: #0077a2;
    					color: #fff;
    					text-transform: uppercase;
    					padding: 13px 0;
    					font-family: "OpenSansBold";
    					&:hover{
							background: #0092c7;
						}
					}
				}
			}
			.purchase-select{
				clear: both;
				select{
					color: #6b6b6b;
					width: 162px;
					height: 35px;
					outline: none;
				}
				a{
					color: #6b6b6b;
					width: 160px;
					border: 1px solid #6b6b6b;
					padding: 7px 30px;
				}
			}
		}
		.holder-img-card{
			text-align: center;
			border: 1px solid #e1e1e1;
			border-width: 1px 0 0 1px;
			padding: 9px;
			&:first-child{
				border-top: none;
			}
			p{
				color: #0077a2;
			}
		}
		.holder-compare-liked--f{
			justify-content: flex-start !important;
			margin: 20px 0 0 22px;
		}
		.holder-compare-liked{
			display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    .compare-liked-list{
				display: flex;
				font-family: "pt_sans_regular";
				&__item{
					margin-left: 40px;
					&:first-child{
						margin: 0;
					}
				}
				&__link--compare-icon{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/compare-icon.png) no-repeat;
						width: 14px;
						height: 12px;
						left: -20px;
    					top: 2px;

					}
					&:hover:before{
    					background: url(../img/compare-icon-hover.png) no-repeat;
						width: 14px;
						height: 12px;
    					
					}
					&:after{
						content: "";
						position: absolute;
						background: url(../img/sep.png) no-repeat;
						width: 1px;
						height: 12px;
						right: -11px;
						top: 2px;
    					right: -11px;
					}
				}
				&__link--liked-icon{
					
					position: relative;
					&:before{
						content: "";
						position: absolute;
						background: url(../img/liked-icon.png) no-repeat;
						width: 12px;
						height: 11px;
						left: -18px;
    					top: 2px;

					}
					&:hover:before{
    					background: url(../img/liked-icon-hover.png) no-repeat;
						width: 12px;
						height: 11px;
    					}
					}
				&__link{
					display: block;
					color: #838383;
					text-decoration: none;
					&:hover{
						color: #0077a2;
					}
				}
		    }
		}	
		.social-card{
			display: flex;
			margin: 20px 0 0;
			&__title{
				color: #838383;
				font-size: 14px;
			}
			.social-card-list{
				&__item{
					display: inline-block;
				}
				&__link{
					display: block;
				    background: url(../img/social-card.png) no-repeat;
				    width: 22px;
				    height: 22px;
				}
				&__twit{
					background-position: -27px 0;
				}
				&__tube{
					background-position: -54px 0;
				}
				&__google{
					background-position: -81px 0;
				}
				&__inst{
					background-position: -108px 0;
				}
			}
		}
	}

}

//====CONTENT-CARD END====
//====TABS-CARD====
.tabs-card{
	&__bg{
		background: #e9e9e9;
		// padding: 38px 0;
	}
	.tabs-nav{
		display: flex;
		
		li{
		//	margin: 0 30px 0 35px;
			a{
				display: block;
				color: #3a3a3a;
				text-transform: uppercase;
				font-size: 14px;
				font-family: "OpenSansBold";
				padding: 38px 45px 38px 35px;
				&:hover{
					color: #fff;
					background: #b7b7b7;

				}

			}
		}
	}
}

//====TABS-CARD END====
//==== CONTENT-BODY ====

.content-body{
	background: #fff;
	.content-vitrina{
		&__title{
			color: #444;
			font-size: 20px;
			font-family: "OpenSans-ExtraBold";
			text-transform: uppercase;
			margin: 40px 0 40px 20px;
		}
		&__right{
			border: 1px solid #e1e1e1;
		}
		&__table{
			
			table{
				width: 100%;
				height: 374px;
				color: #929292;
				tr{

					border: 1px solid #e8e8e8;
					padding: 20px 0;
					border-width: 1px 0;
					td{
						padding: 20px 0;
					}
				}
			}
			
		}
		&__text{
			color: #3a3a3a;
			p{
				margin-bottom: 20px;
			}
		}
		&__bot{
			padding: 40px 0 50px;
		}
	}
	//==== PAYMENT ====
		.total-card-title{
			color: #444;
			font-size: 20px;
			font-family: "OpenSans-ExtraBold";
			text-transform: uppercase;
		}
		.line-card{
			width: 100%;
			background: #f3f3f3;
			height: 3px;
			position: relative;
			&__blue{
				position: absolute;
				top: 0;
				width: 70px;
				height:3px;
				background: #0077a2;
			}
		}
		.payment-card{
			&__left{
				p{
					color: #3a3a3a;
					margin-bottom: 25px;
				}
			}
			&__left-f{
				padding: 30px 0 20px;
				color: #6f6f6f;
				font-size: 16px;
				font-family: "OpenSansBold" ;
			}
		}
	//==== PAYMENT END====
	//==== PRESENCE ====
		.presence{
			
			.presence-left{
				margin-top: 30px;
				&__select{
					width: 100%;
					outline: none;
					padding: 5px 5px;
				}
			}
			.open-map{
				height: 260px;
				overflow-y: scroll;
				margin-top: 20px;
				&__holder{
					border-bottom: 1px solid #e1e1e1;
					padding: 20px 0;
					p{
						color: #3a3a3a;
					}
					a{
						color: #0077a2;
						text-decoration: underline !important;
					}
				}
			}
			.presence-left-bot{
				border-bottom: 1px solid #e1e1e1;
				padding-bottom: 25px;
				
				&__title{
					color: #3a3a3a;
				}
				&__span{
					color: #0077a2;
					font-family: "OpenSansBold";
					font-size: 22px;
					margin-left: 10px;
				}
				&__span-2{
					color: #9d9d9d;
					font-size: 13px;
				}
				&__link{
					display: block;
					margin-top: 15px;
					color: #fff;
					text-transform: uppercase;
					background: #0077a2;
					padding: 15px 0;
					width: 226px;
					text-align: center;
					&:hover{ 
						background: #0092c7; 
					}
				}
			}
			.presence-right{
				margin-top: 30px;
				&__map{
					width: 100%;

				}
			}
		}
	//==== PRESENCE END====
	//==== REVIEWS ====
		.reviews{
			padding: 50px 0;
			
			&__left{
				margin-top: 30px;
			}
			&__date{
				color: #9b9b9b;

			}
			&__name{
				color: #313131;
				font-size: 14px;
				font-family: "OpenSansBold";
				text-transform: uppercase;
			}
			&__title{
				position: relative;
				color: #313131;
				    margin-left: 20px;
				&:before{
					content: "";
					position: absolute;
					background: url(../img/quote.png) no-repeat;
					width: 13px;
					height: 10px;
					left: -20px;
					top: 3px;
				}
			}
			&__btns{
				margin: 30px 0 0;
				display: flex;
				li{
					margin-right: 15px;
					a{
						color: #6b6b6b;
						text-transform: uppercase;
						border: 1px solid #e1e1e1;
						padding: 15px;
						display: block;
						&:hover{
							background: #0077a2;
							color: #fff;
						}
					}
				}
			}
		}
	//==== REVIEWS END ====
	//==== CREDIT ====
		.credit{
			margin-bottom: 30px;
			
			p{
				margin: 30px 0 24px;
				color: #3a3a3a;
			}
			&__title{
				color: #0077a2 !important;
				font-family: "OpenSansBold";
			}
			&__link{
				display: block;
				background: #0077a2;
				color: #fff;
				padding: 15px 0;
				width: 120px;
				text-align: center;
				text-transform: uppercase;
			}

		}

	//==== CREDIT END ====
}
//==== CONTENT-BODY END====
//==== SLIDER-CARD-TOP ====
.slider-card-bot-bg--abs{
	left: 90px;
	position: absolute;
	
}
.slider-card-bot-bg--bot{
	position: absolute;
	left: 90px;
}
.slider-card-bot-bg{
	margin-top: 30px;
	background: #fff;

	.slider-card-top-title{
		font-size: 14px;
		font-family: "OpenSansBold";
		text-transform: uppercase;
		margin: 35px 0;
	}	
	.slider-card-top{
		margin: 40px 0 0;
		display: flex;
		// .slick-slide img{
		// 	margin: 0 auto;
		// }
		.slick-slide {
			min-height: 0;
			outline: none;
			a{
				outline: none;
			}
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: 45%;
			// border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 0;
			margin-left: -15px;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: 0;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: 45%;
			background-position: 10px 8px;
			left: 99%;
			// border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		
		&__item{
			// padding: 40px 20px 30px;
			width: 100%;
			max-width: 209px;
			margin: 0 auto;
			// height: 305px;
			padding: 0 0 20px 0;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			img{
				margin: 40px auto 20px;
			}
			.count-clock{
				position: absolute;
				top: 0;
				left: 57%;
    			display: flex;
    			color: #6e6d6d;
    			padding-top: 5px;
    	
    			&:before{
    				content: "";
    				position: absolute;
					background: url(../img/clock-icon.png) no-repeat;
					width: 12px;
					height: 12px;
					top: 8px;
					left: -10px;
    			}
    			&__item{
    				font-family: "OpenSansBold";
    				color: #6e6d6d;
    				font-size: 14px;
    				padding: 0 5px;
    			}
			}
			&:hover{
				border-color: #e8e8e8;
			}
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			&:last-child{
				border-right-width: 1px;
			}	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			// margin: 20px 0;
		}
		.slider-card-bot__text--color{
			color: #a2a2a2;
			font-family: "OpenSansRegular";
			font-size: 12px;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
	}
}	

//==== SLIDER-CARD-TOP END====
//==== SLIDER-CARD-BOT ====
.slider-card-bot-bg{
	margin-top: 30px;
	background: #fff;
	.slider-card-bot-title{
		font-size: 14px;
		font-family: "OpenSansBold";
		text-transform: uppercase;
		margin: 35px 0;
	}	
	.slider-card-bot{
		margin: 40px 0 0;
		display: flex;
		// .slick-slide img{
		// 	margin: 0 auto;
		// }
		.slick-slide {
			min-height: 0;
			outline: none;
			a{
				outline: none;
			}
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: -15%;
			border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 95%;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: 0;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: -15%;
			background-position: 10px 8px;
			border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		
		&__item{
			// padding: 40px 20px 30px;
			width: 100%;
			max-width: 209px;
			margin: 0 auto;
			// height: 305px;
			padding: 0 0 20px 0;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			img{
				margin: 40px auto 20px;
			}
			.count-clock{
				position: absolute;
				top: 0;
				left: 57%;
    			display: flex;
    			color: #6e6d6d;
    			padding-top: 5px;
    	
    			&:before{
    				content: "";
    				position: absolute;
					background: url(../img/clock-icon.png) no-repeat;
					width: 12px;
					height: 12px;
					top: 8px;
					left: -10px;
    			}
    			&__item{
    				font-family: "OpenSansBold";
    				color: #6e6d6d;
    				font-size: 14px;
    				padding: 0 5px;
    			}
			}
			&:hover{
				border-color: #e8e8e8;
			}
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			&:last-child{
				border-right-width: 1px;
			}	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			// margin: 20px 0;
		}
		.slider-card-bot__text--color{
			color: #a2a2a2;
			font-family: "OpenSansRegular";
			font-size: 12px;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
	}
}	
//==== SLIDER-CARD-BOT END====
//==== BASKET ====
.basket{
	background: #fff;
	&__btn-back{
		position: relative;
		text-transform: uppercase;
		color: #589cd9;
		font-size: 12px;
		padding: 30px 0;
		display: block;
		margin-left: 15px;
		&:hover{
			color: #589cd9;
		}
		&:before{
			content: "";
			position: absolute;
			background: url(../img/arr-back.png) no-repeat;
			width: 7px;
			height: 11px;
			left: -15px;
    		top: 33px;
		}
	}
	&__title{
		font-size: 20px;
		color: #444;
		font-family: "OpenSans-ExtraBold";
		text-transform: uppercase;
		padding: 40px;
		margin:0;
		border-bottom: 1px solid #e1e1e1;

	}
	&__item{
		padding: 35px 0 35px 20px;
		border-bottom: 1px solid #e1e1e1;
		display: flex;
	}
	&__title-item{
		color: #3a3a3a;
		font-size: 14px;
		font-family: "OpenSansBold";
		margin: 20px 0 0;
	}	
	&__code-item{
		font-size: 12px;
		color: #7a7a7a;
		margin: 70px 0 0;
	}
	.basket-value{
		display: flex;
		align-items: center;
		&__int-holder{
			position: relative;
		}
		&__int-inc{
			position: absolute;
			background: url(../img/inc.png) no-repeat;
			width: 8px;
			height: 4px;
			top: -14px;
    		left: 16px;	
		}
		&__int-dec{
			position: absolute;
			background: url(../img/dec.png) no-repeat;
			width: 8px;
			height: 4px;
			top: 50px;
    		left: 16px;
		}
		&__int{
			width: 40px;
			height: 40px;
			outline: none;
			text-align: center;
			color: #6b6b6b;
			font-size: 14px;
		}
		&__close{
			padding: 0 20px 0 15px;
			display: block;
		}
		&__price{
			color: #186a8a;
			font-size: 32px;
			font-family: "OpenSansBold";
		}
		&__valuta{
			color: #a4a4a4;
			font-size: 14px;
			font-family: "OpenSansBold";
			margin-top: 14px;
			margin-left: 3px;
		}
	}
}
.decor{
	background: #ebebeb;
	    padding-bottom: 141px;
}
//==== BASKET END ====
//==== DECOR ====
.decor{
	&__title{
		font-size: 20px;
		color: #444;
		font-family: "OpenSans-ExtraBold";
		text-transform: uppercase;
		padding: 40px;
		margin:0;
		border-bottom: 1px solid #e1e1e1;
	}
	&__input{
		width: 100%;
		outline: none;
		height: 38px;
		text-indent: 10px;
		color: #6f6f6f;
		&::-webkit-input-placeholder { 
  			color: #6f6f6f;
		}
	}
	.holder-input-top{
		padding: 20px 0;
	}
	&__dostavka{
		
	}
	
	&__radio{
		vertical-align: top;
		width: 15px;
		height: 15px;
		vertical-align: text-bottom;
	}
	&__radio + label{
		cursor: pointer;
	}
	&__radio:not(checked) {
		position: absolute;
		opacity: 0;
	}
	&__radio:not(checked) + label {
	  position: relative;
	  padding: 0 0 0 20px;
	  font-size: 14px;
	  color: #555;
	  font-family: "OpenSansRegular";
	}
	&__radio:not(checked) + label:before {
	  content: '';
	  position: absolute;
	  top: 2px;
	  left: 0;
	  width: 15px;
	  height: 15px;
	  border: 1px solid #CDD1DA;
	  border-radius: 50%;
	  background: #FFF;
	}
	&__radio:not(checked) + label:after {
		  content: '';
		  position: absolute;
		  top: 6px;
		  left: 4px;
		  width: 7px;
		  height: 7px;
		  border-radius: 50%;
		  background: #0077a2;
		  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
		  opacity: 0;
		  transition: all .2s;
	}
	&__radio:checked + label:after {
	  opacity: 1;
	}
	.holder-input-top{
		&__select{
			width: 100%;
			height: 38px;
			outline: none;
			}
	}
	.decor-payment{
		&__amount{
			color: #186a8a;
			font-size: 32px;
			font-family: "OpenSansBold";
			span{
				color: #a4a4a4;
				font-size: 14px;
			}
			p{
				font-size: 14px;
				color: #555;
				font-family: "OpenSansRegular";
			}
		}
		&__btn-order{
			display: block;
			color: #fff;
			text-transform: uppercase;
			background: #0077a2;
			font-size: 14px;
			text-align: center;
			font-family: "OpenSansBold";
			padding: 12px 0;
			// &:hover{
			// 	background: #0092c7;
			// }
		}

	}
	
}
//==== DECOR END ====
//==== CONTENT-LIST ====
.content-list{
	background: #fff;
	.content-list-left{
		width: 285px;
		background: #ededed;	
		float: left;
		// margin-right: 55px;
	}
	.goods{
		position: relative;
		&__black{
			background: #252525;
			color: #feffff;
			font-size: 14px;
			font-family: "OpenSansBold";
			height: 60px;
			padding: 21px 0 0 21px;
		}
		&__blue{
			position: absolute;
			height: 60px;
			width: 60px;
			background: #0077a2;
			top: 0;
    		left: 79%;
    		padding: 20px 0 0 26px;
    		cursor: pointer;
		}
	}
	.search-brend{
		margin: 0 auto;
		position: relative;
		padding: 20px 0;
		p{
			color: #3a3a3a;
			text-transform: uppercase;
			font-size: 14px;
			font-family: "OpenSansBold";
			margin-left: 20px;
		}
		&__int{
			width: 245px;
			height: 40px;
			margin-left: 20px;
			color: #6f6f6f;
			border: none;
			&::-webkit-input-placeholder {
				color: #6f6f6f;
			}
			outline: none;
			text-indent: 10px;
		}
		&__link{
			display: block;
			position: absolute;
			top: 58px;
   			left: 83%;
		}
		&__link-up{
			position: absolute;
			top: 18px;
    		left: 88%;
		}
	}
	.vocabulary{
		border-top: 1px solid #c2c2c2;
		color: #3a3a3a;
		.holder-voc-list{
			float: left;
		}
		.voc-words{
			width: 55px;
			float: right;
			height: 745px;
			overflow-y: scroll;
			margin: 24px 0 0;
			p{
				font-size: 14px;
				color: #3a3a3a;
				text-align: center;
			}
		}
		.vocabulary-w{
			margin: 20px 0 0 20px;
			font-size: 20px;
			font-family: "OpenSansBold";
		}
		&__list{
			width: 230px;
			border-bottom: 1px solid #c2c2c2;
			padding-bottom: 20px; 
			&:last-child{
				border: none;
			}
			li{
				color: #3a3a3a;
				font-size: 14px;
				padding: 10px 0 0 20px;
				cursor: pointer;
			}
		}

	}
	.r-block{
		clear: both;
		border: 1px solid #c2c2c2;
		border-width: 1px 0;
		padding: 20px 0 20px 20px;
		text-transform: uppercase;
		color: #3a3a3a;
		font-size: 14px;
		font-family: "OpenSansBold";
		cursor: pointer;	
		position: relative;
		&:after{
			content: "";
			position: absolute;
			background: url(../img/arr-close.png);
			width: 11px;
			height: 7px;
			left: 90%;
    		top: 25px;
		}
	}
	.holder-country-list{
		display: flex;
		.country-list-db{
			display: none;
			margin: 10px 0;
			li{
				width: 143px;
				padding: 10px 0 10px 20px;
				cursor: pointer;
			}
		}
		.db{
			display: block;
		}
	}
	.mechanism-list{
		 display: block;
		li{
			padding: 10px 0 10px 20px;
		}

	}
	.color-list{
		li{
			position: relative;
			display: flex;
    		align-items: center;
			
		}
	}
	.db{
			display: block;
		}	
	
	.content-list-right{
		width: 855px;
		float: left;
		background: #fff;
		.content-list-right-select{
			padding: 30px 30px 30px;
			&__select{
				width: 240px;
				height: 35px;
				outline: none;
				color: #6f6f6f;
				margin-right: 15px;
			}
		}
	}
	
	.main-5-slider-list{
		// margin: 50px 0 0 ;
		// display: flex;
		// .slick-slide img{
		// 	margin: 0 auto;
		// }
		.slick-slide{
			min-height: 0;
			// width: 204px !important;
			outline: none;
			a{
				outline: none;
			}
		}
		.slick-list{
			// overflow: visible;
			width:100%;
		}
		.slick-prev{
			background: #999 url(../img/prev-arr.png) no-repeat;;
			top: -13%;
			border-radius: 50%;
			background-position: 9px 8px;
			padding: 13px;
			left: 92.5%;
		}
		.slick-next:before, .slick-prev:before{
			content: "";
		}
		.slick-next{
			right: 10px;
			background: #999 url(../img/next-arr.png) no-repeat;
			top: -13%;
			background-position: 10px 8px;
			border-radius: 50%;
			padding: 13px;
		}
		.slick-prev:hover {
			background: #0077a2 url(../img/prev-arr.png) no-repeat;
			padding: 13px;
			background-position: 9px 8px;
		}
		.slick-next:hover{
			background: #0077a2 url(../img/next-arr.png) no-repeat;
			background-position: 10px 8px;
			padding: 13px;
		}
		&__item{
			// margin-left: 10px;
			padding: 30px 0;
			width: 285px ;
			height: 349px;
			border-right-width: 0;
			position: relative;
			border: 1px solid transparent;
			img{
				margin: 0 auto 0;
			}
			&:hover{
				border-color: #e8e8e8;
			}
			.stock{
				position: absolute;
				top: 0;
    			left: 0;
				&__item{
					color: #fff;
					background: #186a8a;
					padding: 12px 3px;
					margin-bottom: 5px;
					font-family: "open-sans-semibold";
				}
				&__item--color{
					background: #0077a2;
				}
			}
			// &:last-child{
			// 	border-right-width: 0px;
			// }	
		}
		.holder-description-clocks{
			display: flex;
     		justify-content: space-around;
   			align-items: center;
   			margin-right: 20px;
   			 height: 0;
   			 margin-top: 20px;
    				
		}
		&__text{
			text-align: center;
			font-family: "OpenSansBold";
			color: #6f6f6f;
			margin: 20px 0;
		}
		&__rating {
		  direction: rtl;
		  text-align: center;
		  margin-top: 10px;
		}
		&__rating > span {
		    display: inline-block;
		    position: relative;
		    width: 1.1em;
		    // padding: 0 3px; 
		}

		&__rating > span:hover:before {
		    content: url(../img/star-rait-hover.png);
		    position: absolute; 
			left: 0px;
    		top: -2px;
		}
		&__rating > span:hover ~ span:before {
		    content: url(../img/star-rait-hover.png);
		    position: absolute; 
			left: 0px;
    		top: -2px;
		}
		&__price{
			color: #186a8a;
			font-family: "OpenSansBold";
			text-align: center;
			font-size: 17px;
			margin-top: 10px;
			span{
				font-size: 14px;
				color: #a3a3a3;
				font-family: "OpenSansRegular";
				text-decoration:line-through;
			}
		}
		&__img{
			width: 13px;
			height: 12px;
		}
	}
	
	
}

//==== CONTENT-LIST END ====